<mat-radio-group>
  <mat-radio-button
    *ngFor="let item of orders$ | async; let i = index"
    [value]="i"
    [checked]="i === 0"
    (click)="sort(item)"
    >{{ item }}</mat-radio-button
  >
</mat-radio-group>
<form [formGroup]="search" (ngSubmit)="onSearchSubmitted(search)">
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Title</mat-label
      ><input
        matInput
        type="text"
        placeholder="Title"
        formControlName="title"
        required
      /><mat-error *ngIf="search.get('title')!.invalid"
        >title is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>

<mat-card
  ><mat-card-title>Product list</mat-card-title
  ><mat-card-content *ngIf="products$ | async as list"
    ><mat-list role="list" *ngIf="list.length > 0; else emptyState"
      ><mat-list-item role="listitem" *ngFor="let item of list"
        >{{ item.id }} {{ item.title }} {{ item.price }}</mat-list-item
      ></mat-list
    >
    <ng-template #emptyState>
      Oops! There is no data!
    </ng-template></mat-card-content
  ></mat-card
>
