<mat-grid-list
  cols="2"
  rowHeight="1:1"
  *ngIf="products$ | async as products; else loading"
>
  <mat-grid-tile class="fade-in-animation"
    ><mat-list role="list"
      ><mat-list-item role="listitem" *ngFor="let item of products"
        >{{ item.title }}
        <button mat-button color="primary" (click)="selectProduct(item.id)">
          Show details
        </button></mat-list-item
      ></mat-list
    ></mat-grid-tile
  >
  <mat-grid-tile
    ><ng-container *ngIf="details$ | async as item"
      ><p class="details-container">{{ item.title }} {{ item.price }}$</p>
    </ng-container></mat-grid-tile
  >
</mat-grid-list>
<ng-template #loading>
  <div class="spinner">
    <mat-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
      [value]="50"
    >
    </mat-progress-spinner></div
></ng-template>
